BQ_AGENT_QUERY_URL="https://us-central1-aiplatform.googleapis.com/v1/projects/project-nirvana-405904/locations/us-central1/reasoningEngines/4055046162237882368:query"
# Optional if you have it:
BQ_AGENT_STREAM_URL="https://us-central1-aiplatform.googleapis.com/v1/projects/project-nirvana-405904/locations/us-central1/reasoningEngines/4055046162237882368:streamQuery?alt=sse"
